<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.HotelesConnectionString"
            connectionString="Data Source=progradb.database.windows.net;Initial Catalog=Hoteles;User ID=progra;Password=Bases2017"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>